{{define "index"}}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href='/static/css/output.css'>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="/static/js/nav.js" defer></script>
    <link rel="shortcut icon" type="image/png" href="/static/img/ghp_favicon.png">
    <title>Art</title>
</head>
    <body>
    <div id="main" class="flex flex-col h-full bg-grad">
        <div id="canvas" class="flex flex-col justify-center bg-charcoalBG m-12 mt-0 p-4 space-y-10 shadow-md shadow-[#2b3031] rounded-xl">
        {{template "nav" .}}
        {{template "main" .}}
        <section id="footer">
            <div class="flex md:flex-row justify-start mx-10 md:max-w-6xl md:space-x-2 pb-6">
                <div class="group relative">
                    <img src="/static/img/linkedin.svg" class="w-10 md:w-16" alt="">
                    <a href="https://www.linkedin.com/in/arturo-cancino/" target="_blank"><img src="/static/img/linkedin_h.svg" class="w-10 md:w-16 opacity-0 hover:opacity-100 absolute top-0 left-0 duration-150" alt=""></a>
                </div>
                <div class="group relative">
                    <img src="/static/img/github.svg" class="w-10 md:w-16" alt="">
                    <a href="https://github.com/artc0des" target="_blank"><img src="/static/img/github_highlight.svg" class="w-10 md:w-16 absolute top-0 left-0 opacity-0 hover:opacity-100 duration-150" alt=""></a>
                </div>
                <div class="group relative">
                    <img src="/static/img/x.svg" class="w-10 md:w-16" alt="">
                    <a href="https://x.com/_artc0des" target="_blank"><img src="/static/img/x_highlight.svg" class="w-10 md:w-16 absolute top-0 left-0 opacity-0 hover:opacity-100 duration-150" alt=""></a>
                </div>
                <div class="group relative">
                    <img src="/static/img/spotify.svg" class="w-10 md:w-16" alt="">
                    <a href="https://open.spotify.com/artist/7hHNkz5E69E4dCrzXsE5vM?si=xhAr1Es_TNqpN4dWBtUMyg" target="_blank"><img src="/static/img/spotify_highlight.svg" class="w-10 md:w-16 absolute top-0 left-0 opacity-0 hover:opacity-100 duration-150" alt=""></a>
                </div>
            </div>
        </section>
        </div>
    </div>
</body>
</html>
{{end}}