{{define "index"}}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Miss+Fajardose&family=Ms+Madi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='/static/css/output.css'>
    <script src="/static/js/nav.js" defer></script>
    <link rel="shortcut icon" type="image/png" href="/static/img/logo_mini.jpg">
    <title>Art In The Making</title>
</head>
    <body>
    <div id="main" class=" flex-col h-screen bg-bgBlue duration-200">
        <div id="canvas" class="flex flex-col justify-center">
            {{template "nav" .}}
            {{template "main" .}}
            <section id="footer" class="container mx-auto bg-slate-400">
                <div class="flex items-center">
                        <p class="text-contentWhite font-light text-lg tracking-normal font-alma">This page was coded up by...me! Built with <a href="https://go.dev/" target="_blank" class="hover:font-bold hover:scale-110 duration-200 text-seaCreatureGreen">Go</a>, <a href="https://tailwindcss.com/" target="_blank" class="hover:font-bold hover:scale-110 duration-200 text-seaCreatureGreen">TailwindCSS</a> and a sprinkle of Javascript, then deployed to <a href="https://www.digitalocean.com/" target="_blank" class="hover:font-bold hover:scale-110 duration-200 text-seaCreatureGreen   ">Digital Ocean.</a></p>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
{{end}}